/* css cá»§a creatnew.html */

:root {
    --pink-color: #e26e70;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    /* background-image: linear-gradient(
      45deg,
      rgb(65, 88, 208) 0%,
      rgb(200, 80, 192) 50%,
      rgb(255, 204, 112) 100%
    ); */
    height: 1000vh;
    overflow: hidden;
  }
  
  .open-modal-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    padding: 20px 40px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px #aba4a4;
    background-color: #fff;
    transition: 0.25s;
  }
  
  .open-modal-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .hide {
    display: none;
  }
  
  .modal__inner {
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    margin: 50px 50px 50px 50px;
  }
  
  @keyframes showModal {
    from {
      top: -200px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  .modal__header {
    background-color: var(--pink-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 17px;
  }
  
  .modal__body {
    padding: 15px;
  }
  
  .modal__body h2 {
    color: var(--pink-color);
    margin-bottom: 10px;
  }
  
  .modal__footer {
    padding: 15px;
    text-align: right;
  }
  
  .modal__footer button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: var(--pink-color);
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  i {
    cursor: pointer;
    font-size: 18px;
  }
  
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  /* .custom-select select { */
    /* display: none;  */
    /*hide original SELECT element: */
  /* } */
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


  /*img*/
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* body {
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(45deg, #3575d1, #7d4ed4);
  } */
  
  .container {
    width: 600px;
    margin: 20px 20px 20px 20px;
  }
  
  .preview {
    border: 2px dashed #fff;
    width: 50%;
    height: 200px;
    color: black;
    font-size: 22px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .preview i {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  